h1 {
    text-align: center;
}

  .AddNote {
    margin: auto;
    width: 50%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditNote {
    margin: auto;
    width: 50%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: 'Press Start 2P', cursive;
    border: 4px solid rgb(63, 11, 47);
    width: 90%;
    margin: 10px auto;
    outline: none;
    background: #F8EFE7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10px;
    width: 300px;

}
textarea {
    font-family: 'Press Start 2P', cursive;
    border: 4px solid rgb(63, 11, 47);
    width: 90%;
    margin: 10px auto;
    outline: none;
    height: 150px;
    width: 300px;
    background: #F8EFE7;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    background-color: #EF716D;
}

.Home {
    text-align: center;
    background-color: #F8EFE7;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),      
            /* The second layer */
        0 10px 0 -5px #F8EFE7,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #F8EFE7,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 8px;
  }
