.Row {
  background: #ef716d;
  color: #f8efe7;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  width: 90%;
  padding: 8px;
  margin-bottom: 6px;
  border: 1px solid transparent;
  border-radius: 6px;
}

.delete-button {
  border-radius: 6px;
  border-color: #f8efe7;
  background-color: #f8efe7;
  color: #ef716d;
  font-weight: bold;
  font-size: medium;
}
